html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    background: #3c3176;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
}

header {
    width: 100%;
    background-color: #3c3176; 
    color: rgb(211, 211, 211); 
    height: 3em;
    display: inline-flex;
    justify-content: space-between;
}

header a, footer a {
    margin: 1em;
    color: rgb(211, 211, 211);
    align-self: center;
}

.menu-icon {
    cursor: pointer;
    float: right;
    width: 1em;
    height: 1em;
    margin: 1em;
}

.nav {
    display: none;
}

nav {
    background-color: #857DB1;
    height: 100%;
    width: 12em;
    margin-top: 0;
    position: relative;
    z-index: 3;
}

nav ul {
    margin-top: 3em;
    list-style-type: none;
    background-color: #5d5393;
}

nav ul li {
    padding: 1em 0;
    margin-left: -2.5em;
    text-align: left;
}

.exit-btn {
    width: .8em;
    float: right;
    padding: 0.5em;
    margin: .7em .5em 0 0;
    cursor: pointer;
    background-color: #857DB1;
}

.after-header {
    height: 20em;
    display: flex;
    align-items: flex-end;
    margin: 1.5em 0 0.75em;
}
.after-header p {
    color: rgb(211, 211, 211);
    font-size: 42px;
    padding: .2em .4em;
    text-transform: uppercase;
    margin-bottom: 2em;
}

main{
    display: flex;
}

.box-calc {
    height: 50em;
    width: 30em; 
    background: #857DB1;
    font-weight: 900;
    border-radius: 1px;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin-bottom: 2em;
}
.box-calc2 {
    background: #3c3176;
}

.mortgage-form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    font-weight: 300;
}

.label {
    margin: 1em auto .5em -2.5em;
    font-size: 22px;
    font-weight: 900;
    color: #3c3176;
}

.tooltip {
    margin: 0 auto -.8em -4.8em;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    color: rgb(238, 236, 255);
}

.unit {
    margin-left: .5em;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(238, 236, 255);
}

.box2 p{
    font-size: 20px;
}

.box li {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3em;
    margin: 0 auto 0 -3em;
    z-index: 2;
}

.box li:last-child{
    margin-bottom: 1em;
}

.box li input {
    width: 200px;
    height: 1.8em;
    width: 100%;
    border-radius: 2px;
    border-style: none;
    outline: none; /* fjerner firkant rundt input når den er i focus */
    font-size: 18px;
    text-indent: 5px;
    text-emphasis: none;
    letter-spacing: .5px;
    background-color: #d4cdf8;
    color: #3c3176;
}
/* ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ 
    color: #9a90ca;
    opacity: 1; /* Firefox
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 
    color: #9a90ca;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge 
    color: #9a90ca;
  } */

/* for å skru av arrows i numberfield input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
/* for å skru av arrows i numberfield input i firefox */
input[type=number] {
    -moz-appearance:textfield;
}

.box input:hover {
    background-color: #ccc3fa;
}

main .box-calc:last-child li {
    margin-left: -1.5em;
}

main .box-calc:last-child li:first-child {
    width: 102%;
}

main .box-calc:last-child p {
    background: #3c3176;
    color: rgb(238, 236, 255);
    width: 110%;
}
main >.box-calc:last-child li:nth-child(2), .box-calc:last-child li:nth-child(10), .box-calc:last-child li:nth-child(15) {
    border-bottom: 1px solid rgb(238, 236, 255);
    height: .5em;
    width: 102%;
    margin-left: -1.5em;
}

main > .box-calc:last-child input {
    background: #3c3176;
    color: rgb(238, 236, 255);
    text-align: center;
}

@media ( max-width: 1640px){
    .box-calc {
        height: 40em;
        width: 22em; 
    }
    .box2 p{
        font-size: 15px;
        font-weight: 400;
    }

    main .box2 input {
        font-size: 15px;
        margin: 1em 1em 0 auto;
        
    }
    main > .box-calc:last-child input {
        text-align: end;
    }

    main .box1 input {
        font-size: 15px;
    }
    main .box1 li {
        height: 2.8em;
    }
    .label {
        margin: 1em auto .4em -3.4em;
        font-size: 16px;
        font-weight: 600;
    }
    
    .tooltip {
        margin: -.4em auto -1.2em -5em;
        font-weight: 500;
        font-size: 11px;
    }
    
    .unit {
        margin-left: .5em;
        width: 100px;
        font-size: 12px;
        font-weight: 500;
    }
    main .box2 li:first-child {
        margin: 0em  auto -.5em -2.8em;
    }
    main .box2 li {
        height: 2.1em;
        margin: .5em auto 0 auto;
    }
}

@media ( max-width: 1024px){

    body {
        font-size: 18px;
    }
    main{
        display: block;
    }

    header h3 {
        font-size: 20px;
    }

    .menu-icon{
        width: 16px;
        padding-left: 1em;
    }

    nav{
        width: 11.66em;
        margin-top: 0;
    }

    .box-calc {
        height: 50em;
        width: 26em; 
    }

    .box li input {
        width: 90%;
        height: 75%;
        text-indent: 14px;
    }


    .label {
        margin: 1em auto .2em -2.8em;
        font-size: 17px;
        font-weight: 600;
    }
    
    .tooltip {
        margin: 0 auto -.5em -4.5em;
        font-weight: 500;
        font-size: 11px;
    }
    
    .unit {
        margin-left: .5em;
        width: 100px;
        font-size: 12px;
        font-weight: 500;
    }
}

@media (max-width:640px){

    body {
        font-size: 16px;
        margin: 0;
    }

    header {
        margin: 0;
    }

    .after-header p {
        font-size: 16px;
        margin-bottom: .5em;
    }

    main{
        display: block;
    }

    .menu-icon{
        width: 14px;
    }

    nav {
        width: 12.1em;
        margin-top: 0;
    }

    .box-calc {
        width: 96vw; 
    }

    .box-calc1 {
        height: 52em;
        margin: 1em 0 0 ;
        border: none;
    }

    .box-calc2 { 
        height: 40em;
        border: none;
    }
    
     .mortgage-form {
        width: 92%;
        height: 100%;
    }

    main .box-calc  .box1  {
        width: 100%;
        margin-left: 1.5em;
    }

    main .box-calc  .box1 input  {
        font-size: 13px;
        height: 60%;
        text-indent: 5px;
    }
    main .box-calc  .box1 p  {
        text-indent: 6px;
    }

    .label {
        margin: 1em auto .2em -2.8em;
        font-size: 17px;
        font-weight: 600;
    }
    
    .tooltip {
        margin: 0 auto -.5em -4.5em;
        font-weight: 500;
        font-size: 11px;
    }
    
    .unit {
        margin-left: .5em;
        width: 100px;
        font-size: 12px;
        font-weight: 500;
    }
    
    .box2 p{
        font-size: 15px;
        font-weight: 400;
        
    }

    main .box2 input {
        font-size: 15px;
        margin: 0 1em 0 auto;
        
    }
    main > .box-calc:last-child input {
        text-align: end;
    }

    main .box2 li {
        height: 2em;
        margin: .5em auto 0 auto;
    }

    main .box2 input:first-child {
        font-size: 18px;
        text-align: center;
    }
    
    main .box2 li:first-child {
        margin: 2.5em  auto -.5em -1.6em;
    }

    footer {
        text-align: center;
        height: 100%;
        width: 100%;
        background: #857DB1;
    }

    footer a {
        font-size: 15px;
        color: #3c3176;
        text-decoration: none;
        font-weight: 700;
    }
   

}

